<div class="container-fluid py-3">
	<div class="d-flex flex-column w-90 mx-auto">
		<div class="w-100 px-4 py-3">
			<h4 class="font-weight-bold">NGX Counter 🐙</h4>
		</div>
		<div class="w-100 border rounded-lg my-2 p-4">
			<h5>Reactive Form</h5>
			<div class="d-flex flex-row mb-2 align-items-center">
				<label class="font-weight-bold mb-0 mr-2">
					Time:
				</label> 
				<form [formGroup]="formulario">
					<ngx-counter-input formControlName="time" [step]="15" [counterRangeMin]="15" [counterRangeMax]="240" [counterValue]="15"></ngx-counter-input>
				</form>
			</div>
			<label class="w-100 mb-3">
				<span class="font-weight-bold">Value:</span>
				{{ formulario.value.time }}
			</label>
		</div>
		<div class="w-100 border rounded-lg my-2 p-4">
			<h5>NgModel</h5>
			<div class="d-flex flex-row mb-2 align-items-center">
				<label class="font-weight-bold mb-0 mr-2">
					Time:
				</label> 
				<ngx-counter-input [(ngModel)]="time" [step]="15" [counterRangeMin]="15" [counterRangeMax]="240" [counterValue]="15"></ngx-counter-input>
			</div>
			<label class="w-100 mb-3">
				<span class="font-weight-bold">Value:</span>
				{{ time }}
			</label>
		</div>
	</div>
</div>